/**
 * @说明：样式全局变量，此文件不需要引用，自动生效
 * @作者：陈万照
 * @公司：山东标梵互动技术有限公司
 * @官网：http://biaofun.com/
 * @版本：v1.0.0
 * @时间：2020年4月28日11:28:13
 */

/* 颜色变量 */
$color-aa: #050505; // 黑色：一版用于字体颜色
$color-ab: #E4E5E6; // 浅灰色：一般用于边框颜色
$color-ac: #949596; // 浅灰色：一般用户 placeholder 的字体颜色

/* 字体大小 */
$font-size-aa: 32upx; 
$font-size-ab: 30upx; 